// reset
@import "reset";

/* style */
$margin-center: 0 auto;
$display-flex: flex;
$display-block: block;

@mixin title-font($value) {
  font-size: $value;
  font-weight: 700;
}
@mixin text-align($value: center) {
  text-align: $value;
}
@mixin margin($value: 100px) {
  margin-right: $value;
  margin-bottom: $value;
}
@mixin inner {
  width: 1100px;
  max-width: 100%;
  margin: $margin-center;
  @include mq("tab") {
    width: 97%;
  }
}
//ブレイクポイント
$breakpoints: (
  "tab": "screen and (max-width: 1199px)",
  "sp": "screen and (max-width: 767px)",
);
// メディアクエリー
@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// color
// font & icon & logo -color
$color-map: (
  "logo": #777,
  "contact, .sub-title": #ffffff,
  "main-title": #6ba7eb,
  "sns-icon-style": #8c8c8c,
);
@each $key, $value in $color-map {
  .#{$key} {
    color: $value;
  }
}

// backcolor
$backColor-map: (
  "header, .skills": #fff,
  "contact": #6ba7eb,
  "work, .sns": #e3f2fd,
  "plan": #d0dfea,
  "footer": #cfd8dc,
);
@each $key, $value in $backColor-map {
  .#{$key}{
    background: $value;
  }
}

// tableColor
$tableColor-map: (
  ":nth-child(even)": #f9f9f9,
  ":nth-child(odd)": #e0efff,
  ":first-child": #6ba7eb,
);
@each $key, $value in $tableColor-map{
  .tr#{$key}{
    background: $value;
  }
}

// 共通
h2 {
  font-size: 40px;
  letter-spacing: 10px;
}
// header
.header {
  width: 100%;
  position: fixed;
  padding: 15px 0;
  z-index: 2;
  &-inner{
    @include inner;
  }
  &-nav {
    display: $display-flex;
    justify-content: space-between;
    .contact {
      @include text-align;
      font-size: 12px;
      padding: 12px 14px;
      transition: 0.3s;
      @include mq("sp") {
        display: none;
      }
      &:hover {
        color: #333;
      }
    }
    .navbar {
      display: none;
      @include mq("sp") {
        display: $display-block;
        position: relative;
        width: 50px;
        height: 44px;
        cursor: pointer;
        border: #c8c8c8 solid 2px;
        border-radius: 4px;
        span {
            position: absolute;
            left: 50%;
            width: 70%;
            height: 4px;
            background-color: #c8c8c8;
            border-radius: 4px;
            transform: translate(-50%);
            &:nth-of-type(1) {
              top: 6px;
            }
            &:nth-of-type(2) {
              top: 20px;
            }
            &:nth-of-type(3) {
              bottom: 6px;
            }
          }
        }
      }
    }
  }

// main
main {
  padding-top: 78px;
}
// keyvisual
.keyvisual {
  background: url("../img/keyvisual/keyvisual.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  &-inner {
    padding: 400px 0;
    @include mq("tab") {
      padding: 250px 0;
    }
    @include mq("sp") {
      padding: 200px 0;
    }
    .main-title {
      @include title-font(65px);
      @include text-align;
      margin-bottom: 30px;
      @include mq("sp") {
        font-size: 40px;
      }
    }
    .sub-title {
      @include title-font(40px);
      @include text-align;
      @include mq("sp") {
        font-size: 30px;
      }
    }
  }
}
// work
.work{
  padding-top: 50px;
  @include mq("tab") {
    padding-bottom: 50px;
  }
  &-inner{
    @include inner;
  }
  &-flex{
    @include text-align;
    display: $display-flex;
    @include mq("tab") {
      display: $display-block;
    }
  }
  &-img {
    width: 40%;
    @include mq("tab") {
      width: 100%;
    }
    &-pc {
      width: 250px;
    }
  }
  &-content {
    width: 60%;
    @include mq("tab") {
      width: 100%;
    }
    &-tit {
      margin-top: 20px;
    }
    &-com {
      font-size: 15px;
      line-height: 18px;
      word-break: break-all;
      margin-top: 35px;
    }
  }
}

// skills
.skills {
  padding: 50px 0 70px;
  &-inner {
    margin: $margin-center;
    @include inner;
  }
  &-tit {
    @include text-align;
    margin-bottom: 50px;
  }
  &-list {
    display: $display-flex;
    flex-wrap: wrap;
    @include mq("tab") {
      display: $display-block;
    }
  }
  &-item {
    @include margin;
    @include mq("tab") {
      @include text-align;
      margin: 0px;
    }
    &:nth-child(3n) {
      @include margin(0px);
      @include mq("tab") {
        margin-bottom: 80px;
      }
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
    @include mq("tab") {
      &:nth-last-child(1) {
        margin-bottom: 0px;
      }
    }
    &-size {
      width: 300px;
      height: 300px;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// plan
.plan {
  padding: 50px 0;
  &-inner {
    @include inner;
    @include text-align;
  }
  &-tit{
    margin-bottom: 50px;
  }
  &-table {
    width: 100%;
    td {
      @include text-align;
      font-size: 16px;
      line-height: 26px;
      border-left: 2px solid #fff;
      padding: 10px;
      @include mq("sp") {
        font-size: 12px;
      }
    }
    th {
      @extend td;
      &:first-child {
        border-left: 0px;
      }
      @include mq("sp") {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

// sns
.sns {
  padding: 200px 0;
  @include mq("sp") {
    padding: 50px 15px;
  }
  &-inner {
    @include inner;
    @include text-align;
  }
  &-icon {
    display: $display-flex;
    justify-content: center;
    @include mq("sp") {
      display: block;
    }
    &-style {
      width: 185px;
      padding: 25px 0;
      font-size: 40px;
      transition: 0.5s;
      @include mq("sp") {
        width: 100%;
        padding: 50px 0;
      }
      &:hover {
        background: #fff;
      }
    }
  }
}

// footer
.footer {
  &-inner{
    @include inner;
  }
  .copyright {
    @include text-align(right);
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 20px 0 25px 0;
  }
}